$color-primary : #4269ea;
$color-secondary: #f1f3f6;
$color-tertiary : #f7ad22;

$color-notification: #eb2f64;

$color-grey-light-1: #f0eeee;
$color-grey-dark : #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;

$color-white: #fff;
$color-black: #000;
$color-green: green;

$bp-smallest: 31.25em; //500px